footer {
  background-color: rgb(105, 135, 187);
  padding: 5px;
}
h3,
h2 {
  margin: 15px;
  color: rgb(68, 67, 67);
}

div.main {
  font-style: Impact;
  width: 1200px;
  background: linear-gradient(to top right, #687c89, #6d747d);
  vertical-align: middle;
  position: absolute;

  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

div.left {
  float: left;
  width: 30%;
  height: 1100px;
  display: inline-block;
}

div.right {
  background: linear-gradient(to top right, #bcbfc2, #ffffff);
  float: right;
  width: 70%;
  height: 1100px;
  display: inline-block;
}
.L {
  float: left;
  width: 20%;
  height: 170px;
  display: inline-block;
}

.R {
  float: right;
  width: 80%;
  height: 170px;
  display: inline-block;
}
.L1 {
  float: left;
  width: 50%;
  height: 270px;
  display: inline-block;
}
u {
  margin: 30px;
}
.R1 {
  float: right;
  width: 50%;
  height: 270px;
  display: inline-block;
}
.list2a {
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
  counter-reset: li;
}
.list2a li {
  position: relative;
  padding: 4px 5px 5px 25px;
  margin: 12px 0 12px 40px;
}
.list2a li:hover {
  background: rgb(135, 135, 135);
}
.list2a li:before {
  line-height: 20px;
  position: absolute;
  top: 4px;
  left: -20px;
  width: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #337ab7;
  counter-increment: li;
  content: counter(li);
}
